@import "tailwindcss";

:root {
  --background: #fff8f5;
  --foreground: #2d2424;

  --primary: #e8a0ad;
  --primary-dark: #c97888;

  --cream: #f9ebe2;
  --pink-light: #fcecef;

  --shadow-light: #ffffff;
  --shadow-dark: #d8c5c0;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}